:root{
    --cordefundo: #222831;
    --segundacordefundo: #393E46;
    --cordotexto: #F5F7F8;

}

body{
    background-color: var(--segundacordefundo);
}

a , h5 , h6 , strong {
    color:var(--cordotexto);
}

.menu-lateral, .colecoes, .dropdown-item{
    background-color: var(--cordefundo);
    color: var(--cordotexto);
}

.menu-link:hover{
    color: var(--cordotexto);
    background-color: var(--segundacordefundo);
    border-radius: 10px;
}

.botao{
    color: var(--cordotexto);
    border-radius: 24px;
    padding: 0.8em;
}

.botao:hover{
    color: var(--cordotexto);
    background-color: var(--segundacordefundo);
    transition: 0.3s;
    padding: 1rem;
}

.cor-modal, .input-colecao, .input-colecao:focus{
    background-color: var(--cordefundo);
}

.botao-criar{
    background-color: var(--cordotexto);
    color: var(--cordefundo);
    outline: none;
    box-shadow: #F5F7F8;
    border-color: var(--cordotexto);
}

.botao-criar:hover{
    background-color: var(--segundacordefundo);
    border-color: var(--cordotexto);
}

.fotodave{
    width: 3rem;
}

#assistant-list li.col.mb-3 button {
    color: var(--cordotexto);
    background-color: var(--segundacordefundo);
    transition: 0.3s;
    padding: 1rem;
    border: 1px solid var(--cordotexto);
    box-shadow: none;
}

.dropdown-menu{
    background-color: var(--cordefundo);
    border: 1px solid var(--cordotexto);
    box-shadow: none;
}

.list-group-item{
    color: var(--cordotexto);
}

.form-check-input, .form-check-input:active, .form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
    background-color: var(--cordefundo);
    box-shadow: var(--cordotexto);
    border: 1px solid var(--cordotexto);
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 60%;
    word-wrap: break-word;
  }
  
  
  .user-message {
    background: transparent;
    border: 1px solid #fff;
    color: white;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
    border-radius: 10px 10px 0 10px;
  }

  .bot-message {
    background-color: black; 
    color: white;
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 10px 10px 10px 0; 
  }
  
  #message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  .bot-message::before {
    content: 'Assistente:';
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: white;
  }

  #send-message:hover{
    color: #000;
    padding-left: 10px;
    transition: 0.3s;
  }

  .btnupload:hover{
    padding-bottom: 10px;
    transition: 0.3s;
  }
  
  #chat-input{
    margin: 0 1rem 0 1rem;
    width: 80em;
    border: 1px solid #fff;
    background-color: var(--cordefundo);
    color: #fff;
  }
  



